#_div_HeaderContainer {
    height: 15%;
}

#_div_HEREMapContainer {
    position: relative;
    height: 400px;
    width: 1800px;
    /*overflow: hidden;*/
}

#_div_FooterContainer {
    height: 10%;
}

#_div_TestChart {
    position: relative;
    height: 400px;
    width: 500px;
    /*overflow: hidden;*/
}

#_div_WeeklyTrafficVolumePerDay_North {
    /*position: relative;
    height: 400px;
    width: 500px;*/
    /*overflow: hidden;*/
}

#_div_WeeklyTrafficVolumePerDay_South {
    /*position: relative;
    height: 400px;
    width: 500px;*/
    /*overflow: hidden;*/
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}


